.main-body{
    position: relative;
    top: 70px;
    height: 100%;
}

.row{
    position: relative;
}

.main-body .row{
    display: flex;
    justify-content: center;
}

.intro{
    position: absolute;
    margin: 0 auto;
}

.intro h1{
    position: relative;
    margin: 0;
    padding: 0 50px;
    font-family: 'Staatliches', cursive;
    font-size: 150px;
    color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.8), -3px -3px 16px 0px rgba(255,255,255,0.3);
}

.period{
    color: #ff4d4d;
}